
body {
  background-color: black;
  color: rgb(184, 255, 170)
}

a {
  color:rgb(75, 198, 247)
}

button {
  background-color: rgb(196, 196, 121);
}

.questionTwo {
  display: none;
}

.questionThree {
  display: none;
}

.questionFour {
  display: none;
}

.questionFive {
  display: none;
}

.tryPython {
  display: none;
}

.tryJavaScript {
  display: none;
}

.tryCSharp {
  display: none;
}

.tie {
  display: none;
}

#submitFinal {
  display: none;
}

#restart {
  padding-top: 20px;
}